.App{
  margin:0px!important;
  padding:0px!important;
}

body{
  overflow-x: hidden;
}
#main_symbol{
  cursor: pointer;
}
#navbar{
  background-color: #24292e;
  color:hsla(0,0%,100%,.7);
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 1.5;
  margin:0px!important;
  margin-right:0px!important;
  padding-right:0px!important;
}
.navbar-item, .navbar-right-item{
  align-self: center;
  flex-wrap: nowrap;
  /*font-weight: bold;*/
  color:white;
  font-weight: bold;
  padding:10px;
}

.bar{
  width: 25px;
  height: 2px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;
}
#bar_div{
  display: none;
  cursor: pointer;
}
.navbar-right-item{
  cursor: default;
}
#navbar-right{
  display: flex;
  position: absolute;
  right: 0px;
}

#navbar-search{
  display: table-cell;
  width: 300px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: 0px;
  box-shadow: none;
  min-height:8px;
  overflow:visible;
  background-color: #404448;
  box-sizing:border-box;
  padding:5.5px 8px;
  border-radius: 3px;
  outline:none;

}

#navbar-search-image{
  padding:6px 8px 6px 0px;
  width:17.3px;
  min-height: 18.2167px;
  align-self: center;
  position: absolute;
  right:0px;
}


/* SIDE PANEL CSS CODE STARTS HERE */

#main_body{
  margin-top:24px;
  padding-right: 16px;
  margin-left:16px;
  display:grid;
  grid-template-columns: 3fr 8fr;
  grid-column-gap: 0px;
}

#side_panel{
  padding-right:0px;
  margin-right: 40px;
}

#image_and_name_div{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width:1200px){
  #side_panel{
    margin-left:35px;
  }
}

#image{
  width: 100% !important;
  height: 100% !important;
  max-width: 260px!important;
  max-height: 260px!important;
  border-radius: 6px;
}

#name{
  color: #24292e;
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  word-wrap: break-word;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  margin-top: 13px;
}

#user_name{
  color:#666;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

#follow_btn{
  max-width: 100%;
  position: relative;
  margin-bottom: 8px;
  width:100%;
  display: block;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  color: #24292e;
  padding:6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  border:1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  font-family: inherit;
}

#bio{
  font-size: 14px;
  line-height: 2;
  color:#24292e;
  display: block;
}

#company{
  font-size: 14px;
  line-height: 1.5;
  color:#24292e;
  display: block;
}

#location{
  font-size: 14px;
  line-height: 2;
  color:#24292e;
  display: block;
}

#email{
  color: #0366d6;
  font-size: 14px;
  line-height: 1.5;
}


/* SIDE PANEL CSS CODE ENDS HERE */


/* BEGIN: Repository Div CSS Code STARTS Here */

#repository_div{
  position: relative;
  width: 100%;
}

#tabs_div{
  border-bottom: 1px solid #d1d5da;
  margin-right: 3%;
  position: sticky!important;
  top:0px!important;
  background-color: white;
}
#tabs_nav{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
  font-size: 14px;
  color:#6a737d;
  height: 56px;
  max-width: 646px;
}

.tab-item{
  display: inline-block;
  align-self: center;
  margin-right: 10px;
}


#filter_div{
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
  padding-top:16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d1d5da;;
  justify-content: space-between;
  margin-right: 3%;
}

.filter_div_item{
  align-self: center;
}

#filter_search{
  padding:6px 8px;
  line-height: 20px;
  background-color: wihte;
  background-position:right 8px center;
  border-radius: 3px;
  border:1px solid #d1d5da;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}


.filter_btn{
  position: relative;
  border-style: none;
  display: inline-block;
  padding:6px 0px;
  font-size: 14px;
  font-weight: 600;;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border:1px solid rgba(27,31,35,.2);
  box-sizing: border-box;
  background-color: #eff3f6;
  border-radius: .25em;
}

datalist{
  background-color:red;
}


/* END: Repository Div CSS Code ENDS Here */


/* BEGIN: Repository Display Div CSS Code BEGINS Here */

.results_div_item{
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom:1px solid #d1d5da;
}

.repo_description_div{
  font-size: 12px;
  margin-top: 8px;
  color: #586069 !important;
}

.repo_description_div_item{
  margin-right: 16px;
  margin-left: 0px!important;
}

.star_display_div{
  text-align: right;
}

.star_btn{
  padding:4px 12px;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  border:1px solid rgba(27,31,35,.2) ;
  border-radius: .25em;
  color:#24292e;
  background-color: #eff3f6;
}

.dot_color{
  background-color: #e34c26;
}

.badge{display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color:
  #586069;
  background-color:
  rgba(27,31,35,.08);
  border-radius: 20px;
}


.clear_div{
  border-bottom:1px solid #d1d5da;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-right: 30px;
}
#clear_btn{
  max-width: 100%;
  position: relative;
  margin-bottom: 8px;
  width:100%;
  display: block;
  /* background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%); */
  color: #24292e;
  padding:6px 12px;
  font-size: 14px;
  
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  /* border:1px solid rgba(27,31,35,.2);
  border-radius: .25em; */
  font-family: inherit;
  right: 0px;
  width: 100px;
  text-align: center;
  float:right;
}
#clear_btn:hover{
  text-decoration: none;
}

a:not(.tab-item){
  text-decoration: none;
  color: #0366d6;
}
a:hover:not(.tab-item){
  text-decoration: underline;
}
/* END: Repository Dipslya Div CSS Code ENDS Here */


/* BEGINS: Responsive CSS Code starts here */

/* BEGINS: Responsive CSS Code for navbar */

@media only screen and (max-width:900px){
  #navbar .navbar-item:not(#main_symbol):not(#noitifications):not(#bar_div):not(#navbar-right){
    visibility: hidden;
  }

  #navbar-right{
    float:none;
  }
  #navbar .navbar-right-item:not(#notifications){
    display: none;
  }
  #bar_div{
    display: unset;
  }
  #navbar{
    width: 100%;
    padding-left: 30px;
    padding-right:30px;
    margin:0px;
  }

  .App{
    overflow-x: hidden;
  }

  #bar_div{
    float:left;
    position: absolute;
  }
  #main_symbol{
    position: absolute;
    margin-left:43%;
  }

  
}
/* ENDS: Responsive CSS Code for navbar */

/* BEGINS: Responsive CSS Code for side div and repository div */

@media only screen and (max-width:900px){
  #main_body{
    display: block;
  }
  #image_and_name_div{
    flex-direction: row;
  }
  #name_div{
    width: 100%;
    
  }
  #image_div{
    margin-right:10px;
  }

  .badge{
    display: none;
  }
   body{
     overflow-x: hidden;
   }

   #clear_btn{
     margin-top: 10px;
     float:none;
   }
   .clear_div{
     padding-bottom: 10px;
   }

   #repository_div{
     position: relative;
   }
}

/* ENDS: Responsive CSS Code for side div and repository div */
/* END: Responsive CSS COde ends here */





/* for filter css */
.summary_btn{

  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

details summary::-webkit-details-marker {
  display:none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}


/* .SelectMnu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  padding: 16px;
  pointer-events: none;
  flex-direction: column;
} */


  .menu_div {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding: 0;
    z-index: 99;
}


.menu_modal {
  position: relative;
  z-index: 99;
  display: flex;
  max-height: 66%;
  margin: auto 0;
  overflow: hidden;
  pointer-events: auto;
  flex-direction: column;
  background-color: #f6f8fa;
  border-radius: 6px;
  box-shadow: 0 0 18px rgba(0,0,0,.4);

}

@media (min-width: 544px){
  .menu_modal{
    position: relative;
    z-index: 99;
    height: auto;
    max-height: 66%;
    max-height: 480px;
    margin: 4px 10px 16px;
    font-size: 12px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(27,31,35,.15);
    margin-left:-67%;
    max-width: 300px;
    width:300px;
}
}


.menu_header {
  display: flex;
  flex: none;
  padding: 16px;
}

@media (min-width: 544px){
  .menu_header {
    padding-top: 8px;
    padding-bottom: 8px;
}
}

.menu_title {
  flex: auto;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 544px){
  .menu_title {
    font-size: inherit;
}
}

.SelectMenu-closeButton {
  display: none;
}

@media (min-width: 544px){
  .SelectMenu-closeButton {
    display: none;
}
}

.menu_list {
  position: relative;
  padding: 0;
  margin: 0 0 -1px;
  flex: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-top: 1px solid #e1e4e8;
  -webkit-overflow-scrolling: touch;
}



.list_item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  overflow: hidden;
  color: #586069;
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #eaecef;
}

@media (min-width: 544px){
  .list_item {
    padding-top: 8px;
    padding-bottom: 8px;
}
}


